.nav {
    display: flex;
    justify-content: space-between;
    margin: 3rem 30rem;
    align-items: baseline;
}

.nav > p {
    color: rgb(97, 95, 95);
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.nav > h1 {
    font-size: 50px;
    text-decoration: underline;
}

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem; 
    margin: 3rem 30rem;
}

.blog__card {
    border: 2.5px solid gainsboro;
    padding: 2rem 2rem 0;
    position: relative;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.card__body > h3 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.blue-text {
    color: rgb(0, 119, 255);
}

.green-text {
    color: rgb(59, 168, 26)
}

.card__body > p {
    margin: 0 0 6rem;
    font-family: 'Roboto', sans-serif;
}

.card__body > h1 {
    margin: 1.5rem 0 0 0;
    font-size: 30px;
}

.card__body > small {
    margin: 1px 0;
    color: rgb(97, 95, 95);
    font-family: 'Roboto', sans-serif;
}

.continue-link {
    position: absolute;
    bottom: 0px;
    margin: 4rem 0 1rem 0;
}

.footer {
    font-family: 'Roboto', sans-serif;
    color: rgb(97, 95, 95);
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(165, 165, 165, 0.39);
    padding: 1.5rem;
}